<html>
    <head>
        <title>Mini Store</title>
    </head>
    
    <body>
        {% include 'menu.html' %}
        
        <h1>Mini E-Commerce Store</h1>
        
        <p>Running Shoes - $49.99 <button onclick="alert('Running Shoes added to your cart!')">Buy Now</button></p>
        <p>Smart Watch - $129.99 <button onclick="alert('Smart Watch added to your cart!')">Buy Now</button></p>
        <p>Wireless Earbuds - $39.99 <button onclick="alert('Wireless Earbuds added to your cart!')">Buy Now</button></p>
    </body>
</html>